
.guideOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
 
 
}

.guideHeader {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
}

.guideHeader__btn--back {
  margin-top: 15px;
}


.guideHeader__heading {
  height: 95%;
  width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  text-align: left;
}

.guideHeader__heading--title>h5 {
    margin-top: -1em;

}
.guideHeader__heading--title a:link{
  color: #444445;
}


  .guideHeader__heading--title {
    height: 80%;
    color:#444445;

  }

.guideHeader__img--profile {
  height: 3.5em;
  width: 3.5em;
  margin-right: 1em;
  margin-top: .7em;
  border-radius: 50%;
}

.guideHeader__img--profile>img {
  height: 70%;
  width: 70%;

}

.guideSubHeader {
    width: 95%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}
.guideSubHeader__icons{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.guideSubHeader__icons--thumbUpRating{
  margin-left: .5em;
}
.guideSubHeader__icons--thumbDownRating{
  margin-left: .5em;
}
.guideSubHeader__additionalIcons{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.guide__img{
  height: 37%;
  width: 90%;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}
.guide__img>img{
  height: 85%;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}
.middleNavBar {
  background-color: #0002FF;
  width: 80%;
  height: 5em;
  border-radius: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middleNavBar__btn--overview{
  margin-left: .4em;

}
.middleNavBar__btn--reviews{
  margin-right: .4em;
}
.middleNavBar button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1em;
}

.active button  {
  text-decoration: underline;
  font-weight: bold;
  font-family: product-sans-bold; 
}

.selectedPageHeading{
  width: 90%;
  height: 4%;
  margin-top: .7em;
  display: flex;
  align-items: center;
}
.selectedPageHeading__title{
  font-size: 11px;
  text-decoration: underline;
  color: #747475;
}
.guideDesc{
  width: 90%;
  height: 40%;
  border-radius: 10px;
  background-color: #cecfd178;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guideDesc--info{
  height: 95%;
  width: 95%;
}





/* Responsiveness for small screens */
@media (max-width: 559px) {
  .guideOverlay {
    margin-top: 6em;
  }

  .guideHeader__heading {
    width: 100%;
  }

  .guideHeader__heading--title {
    height: 100%;
  }

  .guideHeader__heading--title>h5 {
  
    margin-left: 1em;
  }

  .guideHeader__img--profile {
    height: 3em;
    width: 3em;
    margin-right: 1em;
    margin-top: 1em;
  }

  .guideSubHeader {
    margin-top: 0;
  }

  .guide__img {
    height: 30%;
    width: 90%;
  }
}

/* Responsiveness for mid screens */
@media (min-width: 834px) {
  .guideOverlay {
    margin-top: 9em;
  }

  .guideHeader__heading {
    width: 100%;
  }

  .guideHeader__heading--title {
    height: 100%;
  }

  .guideHeader__heading--title>h5 {
    margin-top: 1em;
    margin-left: 1em;
  }

  .guideHeader__img--profile {
    height: 5em;
    width: 5em;
    margin-right: 1em;
    margin-top: 1em;
  }

  .guideSubHeader {
    margin-top: 0;
  }

  .guide__img {
    height: 30%;
    width: 90%;
  }
}

/* Responsiveness for extra large screens */
@media (min-width: 1279px) {

  .guideOverlay {
    margin-top: 6em;
  }
  .guideHeader__heading {
    width: 60%;;
  }

  .guideHeader__heading--title {
    height: 80%;
  }

  .guideHeader__heading--title>h5 {
    margin-top: -1em;
  }

  .guideHeader__img--profile {
    height: 3.5em;
    width: 3.5em;
    margin-right: 1em;
    margin-top: 0.7em;
  }

}