.guideOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.guideHeader {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
}

.guideHeader__btn--back {
  margin-top: 15px;
}


.guideHeader__heading {
  height: 95%;
  width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  text-align: left;
}

.guideHeader__heading--title>h5 {
    margin-top: -1em;

}
.guideHeader__heading--title a:link{
  color: #444445;
}


  .guideHeader__heading--title {
    height: 80%;
    color:#444445;

  }

.guideHeader__img--profile {
  height: 3.5em;
  width: 3.5em;
  margin-right: 1em;
  margin-top: .7em;
  border-radius: 50%;
}

.guideHeader__img--profile>img {
  height: 70%;
  width: 70%;

}

.guideSubHeader {
    width: 95%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}
.guideSubHeader__icons{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.guideSubHeader__icons--thumbUpRating{
  margin-left: .5em;
}
.guideSubHeader__icons--thumbDownRating{
  margin-left: .5em;
}
.guideSubHeader__additionalIcons{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.guide__img{
  height: 37%;
  width: 90%;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}
.guide__img>img{
  height: 85%;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}
.middleNavBar {
  background-color: #0002FF;
  width: 80%;
  height: 5.5%;
  border-radius: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middleNavBar__btn--overview{
  margin-left: .4em;

}
.middleNavBar__btn--reviews{
  margin-right: .4em;
}
.middleNavBar button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: .9em;
  font-weight: 500;
}
.selectedPageHeading{
  width: 90%;
  height: 4%;
  margin-top: .7em;
  display: flex;
  align-items: center;
}
.selectedPageHeading__title{
  font-size: 11px;
  text-decoration: underline;
  color: #747475;
}
.guideDesc{
  width: 90%;
  height: 40%;
  border-radius: 10px;
  background-color: #cecfd178;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guideDesc--info{
  height: 95%;
  width: 95%;
}

.container__lower {
  background-color: red;
}





