.newPlanner_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.newPlanner {
    width: 90%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    background-color: aqua;
}

.main__listItems {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__listItems--grid {
    background-color: pink;
    display: flex;
    
    justify-content: space-around;
    
}
