.header{
    border: 1px solid red;
    height: 4.2em;
}
.search{
    border: 1px solid red;
    height: 4.2em;
}
.main{
    border: 1px solid red;
    height: 36.6em;
}
.footer{
    border: 1px solid red;
    height: 4.5em;
}
