.createAGuideHeader{
    height: 3em;
    width: 100%;
}
/* .createAGuide_Overlay{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
} */

.title 
{
    padding-top: 3.5em;
    padding-bottom: 1em;
    font-size: 19px;
    font-weight: bold;
    
}

.main_gO{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 1em 0 0 0;
}
.main__form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1531979730819-503feb5fbdf0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1089&q=80");

}
.main__form>form{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main__form--input{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: white;
   
}
.main__form--input>input{
    width: 16em;
    height: 0.2em;
    padding: 15px;
    text-align: center;
    border-radius: 42px;
    margin-bottom: 0.5em;
}
.main__form--dropdown{
    width: 100%;
    height: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}

.form__dropdown--title {
    color: white;
}

.form__dropdown--options{
    width: 16em;
    height: 3em;
    padding: px;
    text-align: center;
    color: black;
}
.form__dropdown--options>select{
    width: 100%;
    height: 78%;
    border-radius: 42px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
  
}
.main__form--budget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: white;
}
.form__budget--radio{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.main__form--highlight{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.form__highlight--title{
    display: flex;
    justify-content: center;
    color: white;
}

.form__highlight--text{
    display: flex;
    justify-content: center;
    background-color: white;
   color:black
}
.form__highlight--btn{
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 42px;
    width: 14em;
    height: 2.8em;
    color: black;
    background-color: white;
}

.form__highlight--input{
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 42px;
}

.form__experience--textArea{
    height: 5em;
    width: 15em;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    border-radius: 42px;
}

.form__highlight--list{
    border: 1px solid white;
    margin-top: 1em;
    width: 15em;
    height: 5em;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}

.main__form--experience{
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__form--submit{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2em; */
}
.main__form--submit>button{
    width: 70%;
    height: 60%;
    border-radius: 42px;
    border: 1px solid transparent;
    background-color:#0002FF;
    color: white;
    margin-left: 5px;
}

.form__experience--title{
    color:white;
    padding-top: 3em;
}

