.profileOverlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profileHeader{
 
    height: 4.2em;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileHeader__btn--back{

    height: 1.5em;
    margin-right: 7.6em;
    font-size: 2em;

}
.profileHeader__btn--addGuide{

    height: 1.5em;
    font-size: 2em;

}

button:hover{
    cursor: pointer;
}

.profile{
    width: 95%;
    height: 14.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile__title--profileName{
    width: 95%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__img--profileImg{
    width: 9em;
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}
.profile__btn--editProfile{
    width: 95%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__img--profileImg>img{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    padding-top:1.5em;
    padding-bottom: 1.5em;
}
.profile__btn--editProfile button{

    width:8em;
    height: 2.2em;
    border-radius: 42px;
    border: 1px solid transparent;
    background-color: #0002FF;
    color:white;
    font-size: .9em;
   
}
.profile__nav{
    width: 95%;
    height: 3.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 24px 3px -23px black;
    margin-bottom: 1em;
}

.profile__nav--about>button{
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 20px;
    margin-top: 1em;
}
.profile__nav--interests>button{
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 20px;
    margin-top: .9em;
}
.profile__nav--guides>button{
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 20px;
    margin-top: 1em;
}
.profile__info{
    width: 19em;
    height: 26em;
    background-color: #e4e9f9c7;
    color: black;
    border-radius: 10px;
    text-align: left;
  padding-bottom: 3.3em;
  padding-left: 1em;
  padding-right: 1em;
}
.profile__info>h4{
    display: inline;
    position: relative;
    top: .6em;
    margin-bottom: .4em;
    text-decoration: underline;
}

/* Media queries start here: */


@media (min-width: 599px) {
    .profile__info{
        width: 25em;
        height: 26em;

    }

}


@media (min-width: 833px) {

    .profile__info{
        padding-top: 2em;
        width: 31em;
        height: 22em;
        font-size: 24px;
    
    }

    .profile__btn--editProfile button{

        font-size: 22px;
       
    }

    .profile__img--profileImg{
        width: 11em;
        height: 11em;
        margin-top: 0em;
    }

    .profile__nav{
        width: 95%;
        height: 3.5em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 24px 3px -23px black;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    
    .profile__nav--about>button{
        font-size: 24px;
    }
    
    .profile__nav--interests>button{
        font-size: 24px;
    }

    .profile__nav--guides>button{
        font-size: 24px;
    }

}


@media (min-width: 1279px)  {

    /* No media queries needed, page looks fine */

}


