.subInfo {
    width: 95%;
    height: 100%;
    margin-top: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subInfo__title {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    color: #484848;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
}

.subInfo__description {
    width: 95%;
    border-radius: 10px;
    background-color: #e4e9f9c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5em;
}
.subInfo__description ul {
    margin-top: 0.5em;
    padding-left: 1em;
    list-style-type: disc;
}

.guide__img {
    width: 100%;
    height: 38%;
    /* object-fit: cover; */
    border-radius: 5px;
    margin-top: 0.6em;
}

/* .middleNavBar {
  width: 75%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */




.guideHeader {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
}

.css-gy4i07-MuiPaper-root {
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4e9f9c7;
}
